<h1>Signup</h1>
<div class="signup-form">
  {{input type="text" placeholder="Email" value=email}}
  {{#if errors.email}}
    <span class="error errorForValidation">{{errors.email}}</span>
  {{/if}}
  {{#each model.errors.email as |error|}}
    <div class="error">
      {{error.message}}
    </div>
  {{/each}}
  <br>
  <button {{action 'createUser'}} {{bind-attr disabled=isInvalid}}>Submit</button>
</div>
